{% extends 'base.html' %}{% block content %} {%load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div style="text-align: center;">
<div style="text-align: center;">
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder=" Password" name="password">

        <button type="submit">Login</button>
    </form>
    <br>
    <h5><a href="{% url 'register' %}">No tienes cuenta? Regístrate aquí</a></h5>
</div>

{% endblock %}